<? if(0 < count($Model->SuccessMessages) || 0 < count($Model->ErrorMessages)) { ?>
<div class="action">
	<div>
		<n:messages>
			<? foreach($Model->SuccessMessages as $message) { ?>
			<p class="success"><?=$message?></p>
			<? } ?>
			<? foreach($Model->ErrorMessages as $message) { ?>
			<p class="error"><?=$message?></p>
			<? } ?>
		</n:messages>
		<div class="buttons">
			<div>
				<a onclick="N(this, N.AjaxWindow.Destroy);" title="%["Controller","ok"]%">%["Controller","ok"]%</a>
			</div>
		</div>
	</div>
</div>
<? } ?>